<nav>
    <ul class="articlerApp-pagination">
        <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
        <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
        <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
        <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
        <li class="active"><a>{{page}}</a></li>
        <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
        <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
        <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
        <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
    </ul>
</nav>
