<div>

    <h2 translate="articlerApp.article.home.title">Articles</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveArticleModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span
                    translate="articlerApp.article.home.createLabel">Create a new Article</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveArticleModal" tabindex="-1" role="dialog" aria-labelledby="myArticleLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myArticleLabel"
                            translate="articlerApp.article.home.createOrEditLabel">Create or edit a Article</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="article.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="articlerApp.article.name">Name</label>
                            <input type="text" class="form-control" name="name"
                                   ng-model="article.name" required>

                            <div ng-show="editForm.name.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.name.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="articlerApp.article.url">Url</label>
                            <input type="text" class="form-control" name="url"
                                   ng-model="article.url" required>

                            <div ng-show="editForm.url.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.url.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="articlerApp.article.creation_date">Creation_date</label>
                            <input type="datetime-local" class="form-control" name="creation_date"
                                   ng-model="article.creation_date" ng-model-options="{timezone: 'UTC'}" required>

                            <div ng-show="editForm.creation_date.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.creation_date.$error.required"
                                   translate="entity.validation.required">
                                    This field is required.
                                </p>

                                <p class="help-block"
                                   ng-show="editForm.creation_date.$error.datetimelocal"
                                   translate="entity.validation.datetimelocal">
                                    This field should be a date and time.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="articlerApp.article.user_id">User_id</label>
                            <input type="number" class="form-control" name="user_id"
                                   ng-model="article.user_id" required>

                            <div ng-show="editForm.user_id.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.user_id.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.user_id.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="articlerApp.article.team_id">Team_id</label>
                            <input type="number" class="form-control" name="team_id"
                                   ng-model="article.team_id" required>

                            <div ng-show="editForm.team_id.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.team_id.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.team_id.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteArticleConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(article.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="articlerApp.article.delete.question" translate-values="{id: '{{article.id}}'}">Are
                            you sure you want to delete this Article?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th translate="articlerApp.article.name">Name</th>
                <th translate="articlerApp.article.url">Url</th>
                <th translate="articlerApp.article.creation_date">Creation_date</th>
                <th translate="articlerApp.article.user_id">User_id</th>
                <th translate="articlerApp.article.team_id">Team_id</th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
            <tr ng-repeat="article in articles">
                <td><a ui-sref="articleDetail({id:article.id})">{{article.id}}</a></td>
                <td>{{article.name}}</td>
                <td>{{article.url}}</td>
                <td>{{article.creation_date}}</td>
                <td>{{article.user_id}}</td>
                <td>{{article.team_id}}</td>
                <td>
                    <button type="submit"
                            ui-sref="articleDetail({id:article.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ng-click="showUpdate(article.id)"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ng-click="delete(article.id)"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
