
<div>
    <h2><span translate="articlerApp.article.detail.title">Article</span> {{article.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="articlerApp.article.name">Name</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{article.name}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="articlerApp.article.url">Url</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{article.url}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="articlerApp.article.creation_date">Creation_date</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{article.creation_date}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="articlerApp.article.user_id">User_id</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{article.user_id}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="articlerApp.article.team_id">Team_id</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{article.team_id}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="article"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
