<div>
    <h2><span translate="articlerApp.team.detail.title">Team</span> {{team.id}}</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="articlerApp.team.name">Name</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{team.name}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="articlerApp.team.logo">Logo</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{team.logo}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="team"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
