<div>

    <h2 translate="articlerApp.team.home.title">Teams</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveTeamModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="articlerApp.team.home.createLabel">Create a new Team</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveTeamModal" tabindex="-1" role="dialog" aria-labelledby="myTeamLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myTeamLabel" translate="articlerApp.team.home.createOrEditLabel">
                            Create or edit a Team</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="team.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="articlerApp.team.name">Name</label>
                            <input type="text" class="form-control" name="name"
                                   ng-model="team.name" required ng-minlength="3" ng-maxlength="20">

                            <div ng-show="editForm.name.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.name.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>

                                <p class="help-block"
                                   ng-show="editForm.name.$error.minlength" translate="entity.validation.minlength"
                                   translate-value-min="3">
                                    This field is required to be at least 3 characters.
                                </p>

                                <p class="help-block"
                                   ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength"
                                   translate-value-max="20">
                                    This field cannot be longer than 20 characters.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="articlerApp.team.logo">Logo</label>
                            <input type="text" class="form-control" name="logo"
                                   ng-model="team.logo">

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteTeamConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(team.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="articlerApp.team.delete.question" translate-values="{id: '{{team.id}}'}">Are you
                            sure you want to delete this Team?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th translate="articlerApp.team.name">Name</th>
                <th translate="articlerApp.team.logo">Logo</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="team in teams">
                <td><a ui-sref="teamDetail({id:team.id})">{{team.id}}</a></td>
                <td>{{team.name}}</td>
                <td>{{team.logo}}</td>
                <td>
                    <button type="submit"
                            ui-sref="teamDetail({id:team.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ng-click="showUpdate(team.id)"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ng-click="delete(team.id)"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
