<div>
    <h2><span translate="articlerApp.vote.detail.title">Vote</span> {{vote.id}}</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="articlerApp.vote.article_id">Article_id</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{vote.article_id}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="articlerApp.vote.user_id">User_id</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{vote.user_id}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="articlerApp.vote.creation_date">Creation_date</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{vote.creation_date}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="articlerApp.vote.value">Value</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{vote.value}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="vote"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
