<div>

    <h2 translate="articlerApp.vote.home.title">Votes</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveVoteModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="articlerApp.vote.home.createLabel">Create a new Vote</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveVoteModal" tabindex="-1" role="dialog" aria-labelledby="myVoteLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myVoteLabel" translate="articlerApp.vote.home.createOrEditLabel">
                            Create or edit a Vote</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="vote.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="articlerApp.vote.article_id">Article_id</label>
                            <input type="number" class="form-control" name="article_id"
                                   ng-model="vote.article_id" required>

                            <div ng-show="editForm.article_id.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.article_id.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>

                                <p class="help-block"
                                   ng-show="editForm.article_id.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="articlerApp.vote.user_id">User_id</label>
                            <input type="number" class="form-control" name="user_id"
                                   ng-model="vote.user_id" required>

                            <div ng-show="editForm.user_id.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.user_id.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>

                                <p class="help-block"
                                   ng-show="editForm.user_id.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="articlerApp.vote.creation_date">Creation_date</label>
                            <input type="datetime-local" class="form-control" name="creation_date"
                                   ng-model="vote.creation_date" ng-model-options="{timezone: 'UTC'}" required>

                            <div ng-show="editForm.creation_date.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.creation_date.$error.required"
                                   translate="entity.validation.required">
                                    This field is required.
                                </p>

                                <p class="help-block"
                                   ng-show="editForm.creation_date.$error.datetimelocal"
                                   translate="entity.validation.datetimelocal">
                                    This field should be a date and time.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="articlerApp.vote.value">Value</label>
                            <input type="checkbox" class="form-control" name="value"
                                   ng-model="vote.value">

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteVoteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(vote.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="articlerApp.vote.delete.question" translate-values="{id: '{{vote.id}}'}">Are you
                            sure you want to delete this Vote?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th translate="articlerApp.vote.article_id">Article_id</th>
                <th translate="articlerApp.vote.user_id">User_id</th>
                <th translate="articlerApp.vote.creation_date">Creation_date</th>
                <th translate="articlerApp.vote.value">Value</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="vote in votes">
                <td><a ui-sref="voteDetail({id:vote.id})">{{vote.id}}</a></td>
                <td>{{vote.article_id}}</td>
                <td>{{vote.user_id}}</td>
                <td>{{vote.creation_date}}</td>
                <td>{{vote.value}}</td>
                <td>
                    <button type="submit"
                            ui-sref="voteDetail({id:vote.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ng-click="showUpdate(vote.id)"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ng-click="delete(vote.id)"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
